<template>
  <div class="home">
    <b-form @submit="onSubmit" @reset="onReset">
      <b-form-group label="Customer Id:" label-for="input-customer-id">
        <b-form-input
          id="input-customer-id"
          v-model="form.customerId"
          type="text"
          placeholder="Enter the customer id"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group label="Value:" label-for="input-value">
        <Money class="form-control" v-model="form.initialCredit" v-bind="money" required="required" aria-required="true"></Money>
      </b-form-group>
      <div>
        <b-button type="reset" variant="outline-success">Reset</b-button>
        <b-button type="submit" variant="success">Submit</b-button>
      </div>
    </b-form>
    <div class="messages">
      <b-alert variant="success" :show="isSuccess">Transaction performed successfully</b-alert>
      <b-alert variant="danger" :show="error !== null">{{ error }}</b-alert>
    </div>
  </div>
</template>

<script>
import {Money} from 'v-money'
import AccountService from "@/service/accounts.service";

export default {
  name: "Home",
  components: {Money},
  data() {
    return {
      isSuccess: false,
      error: null,
      money: {
        decimal: '.',
        thousands: '.',
        prefix: '€ ',
        precision: 0,
        masked: true
      },
      form: {
        customerId: "",
        initialCredit: 0,
      },
    };
  },
  methods: {
    onSubmit() {
      this.error = null
      this.form.initialCredit = this.form.initialCredit.replace('€', '').trim()
      AccountService.performAccountTransaction(this.form)
        .then(() => {
          this.isSuccess = true;
          setTimeout(() => {
            this.isSuccess = false;
          }, 1000);
        })
        .catch((err) => this.setErrorMessage(err.response.data.message));
    },
    setErrorMessage(err) {
      this.error = err
    },
    onReset() {
      this.form.initialCredit = 0;
      this.form.customerId = "";
    },
  },
  mounted() {},
};
</script>
<style scoped>
.home {
  border: 1px solid #42b983;
  margin: auto;
  width: 60%;
  padding: 10px;
}

.btn {
  margin-left: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}
.messages {
  margin-top: 2rem;
}
</style>
