<template>
  <div class="users">
    <div class="customers-table">
      <b-card>
        <b-table :items="customers" :fields="fields" striped caption-top>
           <template #table-caption><h4>Customers</h4></template>
          <template #cell(show_details)="row">
            <b-button size="sm" @click="row.toggleDetails" variant="outline-success">
              {{ row.detailsShowing ? 'Hide' : 'Show'}} Account / Transactions
            </b-button>
          </template>

          <template #row-details="row">
            <b-card>
              <b-row class="mb-2">
                <b-col sm="3" class="text-sm-right"><b>Account Type:</b></b-col>
                <b-col>{{ row.item.accountType }}</b-col>
              </b-row>

              <b-row class="mb-2">
                <b-col sm="3" class="text-sm-right"><b>Balance:</b></b-col>
                <b-col>{{ row.item.balance }}</b-col>
              </b-row>
            </b-card>
            <b-card>
              <b-table :items="row.item.transactions" :fields="transactionsFields" caption-top>
                 <template #table-caption><h5>Transactions</h5></template>
                    <template #cell(createdOn)="data">
                      {{getDateFormat(data.item.createdOn)}}   
                    </template>
              </b-table>
            </b-card>
            <b-button size="sm" style="margin-top: 1rem" @click="row.toggleDetails" variant="success">Hide Details</b-button>
          </template>
      </b-table>
    </b-card>
    </div>
  </div>
</template>

<script>
import AccountService from "@/service/accounts.service";

export default {
  name: "Users",
  data() {
    return {
      fields: ["id", "name", "surname", "email", "show_details"],
      transactionsFields: ["operationType", "value", {key: "createdOn", label: "Creation Date"}],
      customers: [{
        "_showDetails": true
      }],
    };
  },
  methods: {
    getDateFormat(date){
      return `${date[0]}/${date[1]}/${date[2]} - ${date[3]}:${date[4]}:${date[5]}`;
    }
  },
  beforeCreate() {
    AccountService.findAllUsers()
      .then((resp) => (this.customers = resp.data));
  },
};
</script>
<style lang="scss" scoped>
.users {
  border: 1px solid #42b983;
  margin: auto;
  width: 80%;
  padding: 10px;
}

.customers-table {
  margin-bottom: 2rem;
}

.account-transactions {
  display: flex;
}

.account-transactions > div:first-child {
  flex-grow: 1;
  margin-right: 1rem;
  text-align: left;
}

.account-transactions > div:last-child {
  flex-grow: 2;
  max-width: 80%;
}
</style>
